name: Prisma Cloud IaC Scan Example
on: [ pull_request ]

jobs:
  prisma_cloud_iac_scan:
    runs-on: ubuntu-latest
    name: Run Prisma Cloud IaC Scan to check 
    env:
          TL_USER: ${{ secrets.TL_USER }}
          TL_PASS: ${{ secrets.TL_PASS }}
          TL_CONSOLE: "console-master-pasq.prussiello.demo.twistlock.com"
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Check image Git dependencies has no vulnerabilities
        run: bash ./files/checkGit.sh
   
      - name: Apply security policies (Policy-as-Code) for evilpetclinic
        run: bash ./files/addPolicies.sh
      
      - name: Scan Image with twistcli
        run: bash ./files/scanImage.sh

      - name: Run Scan on IaC files in the repository
        uses: prisma-cloud-shiftleft/iac-scan-action@v1
        id: iac-scan
        with:
          prisma_api_url: 'https://api.prismacloud.io'
          access_key: ${{ secrets.PRISMA_CLOUD_ACCESS_KEY }}
          secret_key: ${{ secrets.PRISMA_CLOUD_SECRET_KEY }}
          asset_name: 'shiftleft-github-actions'
          scan_path: ./files/
          template_type: 'K8S'

      - name: Upload scan result artifact
        uses: actions/upload-artifact@v2
        if: success() || failure()
        with:
          name: iac_scan_result
          path: ${{ steps.iac-scan.outputs.iac_scan_result_path }}
